<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading"><%= comment.email %>
            <small><%= comment.created_at %></small>
        </h4>
        <%= comment.text %>
    </div>
    <div class="media-footer"><footer><%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } if @is_owner %></footer></div>
</div>